.main {
    width: 100%;
    background: #ce4545;
    position: sticky;
    transition: all 0.5s ease-in-out;
}

.homeHolder {
    width: 120px;
    position: absolute;
    display: flex;
    left: 150px;
    top: 10px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.homeHolder:hover {
    cursor: pointer;
    border-radius: 12%;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: all 0.25s ease-in-out;
}
.profileHolder {
    width: 80px;
    position: absolute;
    display: flex;
    right: 100px;
    top: 10px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.profileHolder:hover {
    cursor: pointer;
    border-radius: 12%;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: all 0.25s ease-in-out;
}

.logoutHolder {
    width: 80px;
    position: absolute;
    display: flex;
    right: 250px;
    top: 10px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.logoutHolder:hover {
    width: 80px;
    position: absolute;
    display: flex;
    right: 250px;
    top: 10px;
    height: 80px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    border-radius: 12%;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.siderClosable {
    top: 15px;
    left: 25px;
    background: #ce4545;
    border-color: #ce4545;
}

.siderClosable:hover {
    background: #ce4545 !important;
    border-color: #ce4545 !important;
}

.siderClosableIcon {
    font-size: 48px !important;
}